*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: lemonchiffon;
}

#content-wrapper {
    padding-bottom: 2.5rem;
    font-family: monospace;
    font-size:20px;
}

#header-image {
    background-color: rgb(255, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#header-title-div {
    background-color: #fff;
    min-height: 200px;
    min-width: 200px;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50%;
}

footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(255, 7, 7);
    color: cornsilk;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: lemonchiffon;
    font-size: 20 px;
}

form.form-function {
    background-color: rgb(18, 1, 250);
    padding: 0.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search-option {
    font-size: 20px;
    font-family: monospace;
    outline: none;
    background-color: rgb(4, 41, 253);
    border: 1px solid rgb(17, 52, 255);
    color: cornsilk;
    padding: 7px;
    padding-left: 2em;
    padding-right: 2em;
}

#search-option:focus {
    background-color: rgb(67, 141, 211);
    color:cornsilk;
}

#search-bar {
    font-size: 20px;
    font-family: monospace;
    width: 75%;
    padding: 7px;
    outline: none;
    background-color: antiquewhite;
    border: 1.5px solid antiquewhite;
    color: black;
    text-align: left;
}

#search-button {
    font-size: 20px;
    font-family: monospace;
    height: inherit;
    padding: 7px;
    background-color: rgb(26, 1, 252);
    color: cornsilk;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(1, 5, 252);
}

#results-panel {
    background-color: rgb(184, 241, 245);
    margin-bottom: 2.5rem;
}

div.top-level-objects {
    background-color: lemonchiffon;;
    border-left: 1pc solid lemonchiffon;
    margin-top: 1em;
}

/* div.top-level-objects:last-of-type {

} */

div.sseq {
    background-color: lemonchiffon;
    margin-left: 1em;
    margin-top: 1em;
}

/* div.sseq:last-of-type {

} */

div.sense {
    background-color: lightgoldenrodyellow;
    /* margin-left: 1em; */
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;
    border-left: 1pc solid violet;
    font-size: 20px;
}

/* div.sense:last-of-type {
    
} */

h3.headword {
    text-align: center;
    color: navy;
}

h3.functional-label {
    color:orangered;
    font-size: 20px;
}

ul.definition {
    background-color: lemonchiffon;;
}

li.text {
    margin-bottom: 0.5em;
}

li.text::marker {
    list-style-position: outside;
    color:teal;
}

ul.verbal-illustrations {
    background-color: lemonchiffon;
    padding-left: 1em;
}

li.vis:empty {
    display: none;
}

li.vis {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 15px;
    padding-left: 1em;
    margin-left: 3em;
    padding: 0.5em;
}

li.vis::marker {
    list-style-position: outside;
    color:rgb(241, 92, 66);
}

li.vis:last-of-type {
   padding-bottom: 0;
}

span.text {
    color: blue;
}

span.vis {
    color: blue;
}

span.phrase {
    color: red;
}